HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified


CLIENT_URL=http://localhost:3000
PREVIEW_SECRET=tobemodified # optional, required with Next.js draft mode

DATABASE_URL=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_PASSWORD=
DATABASE_USERNAME=
DATABASE_CONNECTION_TIMEOUT=
DATABASE_CLIENT=
HOST=
PORT=